h1 {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: rgb(148, 25, 33);
}

.formSection {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 30vw;
    ul {
      display: flex;
      flex-direction: column;
      gap: 2em;
      padding: 0;
      li {
        width: 100%;
        display: flex;
        flex-direction: column;
        label {
          font-size: 2em;
        }
        input {
          padding: 1em;
          font-size: 1.5em;
        }
      }
    }
    button {
      padding: 1em;
      font-size: 1.5em;
      background-color: #1481a6;
      color: white;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 40px;

      margin-top: 1em;
    }
    button:disabled {
      background-color: #aaa;
    }
    button.btn-error {
      background-color: red;
    }
  }
}
.seConnecter {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
}
