<h1>Page de connexion</h1>
<div class="formSection">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <ul>
      <li>
        <label for="mail">Email</label>
        <input
          type="email"
          id="mail"
          placeholder="exemple@mail.fr"
          name="email"
          [(ngModel)]="email"
          required
        />
      </li>
      <li>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="1234..."
          name="password"
          [(ngModel)]="password"
          required
        />
      </li>
      <li>
        <label for="passwordConfirmation">Password verification</label>
        <input
          type="password"
          id="passwordConfirmation"
          placeholder="1234..."
          name="passwordConfirmation"
          [(ngModel)]="passwordConfirmation"
          required
        />
      </li>
    </ul>
    <button
      type="submit"
      [disabled]="!loginForm.valid"
      [ngClass]="{ 'btn-error': isButtonRed }"
    >
      Crer un Compte
    </button>
  </form>
</div>
<a (click)="redirectToLogin()" class="seConnecter"
  >Deja un compte? Se Connecter</a
>
