<h1>Politique de confidentialité</h1>

<div class="contentSection">
  <div class="contentBox">
    <p>
      Apero shop collecte des données personnelles dans le cadre de
      l’inscription et des commandes.
    </p>

    <p>
      Ces données sont utilisées uniquement pour la gestion des comptes, des
      commandes et du service client.
    </p>

    <p>
      Conformément au RGPD, vous disposez d’un droit d’accès, de rectification
      et de suppression de vos données.
    </p>
  </div>
</div>

<p class="link" (click)="redirectToHomePage()">Retour</p>
