<app-header></app-header>

<div class="pageArticle" *ngIf="article">
  <div class="centerCardArticleByID">
    <div class="cardArticleById">
      <div class="leftSection">
        <img
          [src]="'http://localhost:3000' + article.imageUrl"
          alt="{{ article.name }}"
        />
      </div>
      <div class="rightSection">
        <h1>{{ article.name }}</h1>
        <p>{{ article.description }}</p>
        <p>{{ article.price }} €</p>
        <p>{{ averageRating }}/5</p>
      </div>
    </div>
  </div>
  <div class="centerReviewClient">
    <div class="columnReview">
      <h2>Avis client</h2>
      <div class="reviewClient">
        <div class="leftSection">
          <div class="sectionStatNumberStar">
            <h3>Note globale :</h3>
            <h3>{{ averageRating }}/5</h3>

            <div class="starsPercentage">
              <i
                *ngFor="let star of [].constructor(5); let i = index"
                class="fa"
                [ngClass]="i < 5 ? 'fa-star filled' : 'fa-star'"
              ></i>
              <p>: {{ percentage[5] }}</p>
            </div>

            <div class="starsPercentage">
              <i
                *ngFor="let star of [].constructor(5); let i = index"
                class="fa"
                [ngClass]="i < 4 ? 'fa-star filled' : 'fa-star'"
              ></i>
              <p>: {{ percentage[4] }}</p>
            </div>

            <div class="starsPercentage">
              <i
                *ngFor="let star of [].constructor(5); let i = index"
                class="fa"
                [ngClass]="i < 3 ? ' fa-star filled' : 'fa-star'"
              ></i>
              <p>: {{ percentage[3] }}</p>
            </div>

            <div class="starsPercentage">
              <i
                *ngFor="let star of [].constructor(5); let i = index"
                class="fa"
                [ngClass]="i < 2 ? 'fa-star filled' : 'fa-star'"
              ></i>
              <p>: {{ percentage[2] }}</p>
            </div>

            <div class="starsPercentage">
              <i
                *ngFor="let star of [].constructor(5); let i = index"
                class="fa"
                [ngClass]="i < 1 ? 'fa-star filled' : 'fa-star'"
              ></i>
              <p>: {{ percentage[1] }}</p>
            </div>
          </div>
        </div>

        <div class="rightSection">
          <div class="containerReviews">
            <app-card-review
              *ngFor="let review of reviews"
              [review]="review"
              class="card-review"
            >
            </app-card-review>
            <button class="addReview" (click)="showFormReview = true">
              Ajouter un avis
            </button>
            <app-review-form
              *ngIf="showFormReview"
              [articleId]="articleId!"
              (submitReview)="addReview($event)"
              (closeModal)="showFormReview = false"
            ></app-review-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!article">Chargement des donées...</div>
