<footer>
  <div>
    <nav class="footer-redirection">
      <p (click)="redirectToMentionLegal()">Mentions légales</p>
      <p (click)="redirectToPolitiqueDeConfidence()">
        Politique de confidentialité
      </p>
    </nav>
  </div>
  <div class="footer-reserved-right">
    <p>&copy; 2025 Apero Shop. Tous droits réservés.</p>
  </div>
  <div class="footer-social-media">
    <img
      src="/socialMediaLogo/instagram.svg"
      href="https://www.instagram.com"
      target="_blank"
      alt="logo d'instagram"
      width="40px"
      height="40px"
    />

    <img
      src="/socialMediaLogo/facebook.svg"
      href="https://www.facebook.com"
      target="_blank"
      alt="logo de facebook"
      width="40px"
      height="40px"
    />

    <img
      src="/socialMediaLogo/X_logo_2023.svg"
      href="https://www.twitter.com"
      target="_blank"
      alt="logo de twitter"
      width="40px"
      height="40px"
    />
  </div>
</footer>
