header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4em;
  background-color: rgb(253, 215, 159);
  margin-bottom: 2%;
  box-shadow: 0px 12px 14px -8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5% 5%;
  white-space: nowrap;
  margin-bottom: 3em;

  h1 {
    color: rgb(148, 25, 33);
  }
  .loginSection {
    position: absolute;
    right: 10%;
    a {
      color: rgb(148, 25, 33);
      text-decoration: none;
      font-weight: 500;
      font-size: 1.2em;
      cursor: pointer;
    }
    .nameLogout {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        color: rgb(148, 25, 33);
        font-weight: 500;
        font-size: 1.2em;
        cursor: initial;
      }
    }
  }
}

// second section after hearder, my input

.inputSection {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  .searchField {
    width: 25vw;
    font-size: 1.5em;
    padding: 1% 0;
  }
}

// add Section

.addSection {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  position: relative;

  .buttonAdd {
    width: 60px;
    height: 60px;
    background-color: rgba(237, 59, 59, 0.9);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }

  &:hover {
    transform: scale(1.1);
  }
}

// section filter

.filterSection {
  color: red;
}

// section cart

.ShoppingCartSection {
  width: 19%;
  position: absolute;
  right: 0;
  z-index: 10;

  .DropDown {
    position: relative;
    height: 2.5em;
    width: 100%;
    background-color: rgb(179, 167, 167);
    border-radius: 15px;
    margin-bottom: 20px;

    .DropDownContent {
      position: relative;
      z-index: -1;
      border-radius: 20px;
      height: 2.5em;
      overflow: hidden;
      background-color: black;
      transition: height 0.3s ease-out;

      &.active {
        height: 60vh;
      }
    }
  }
}

// principal section article

.containerArticle {
  width: 60%;
  height: 60vh;
  overflow-y: scroll;
  margin: 1em auto;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(253, 215, 159, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(148, 25, 33, 0.8);
    border-radius: 10px;
    border: 2px solid rgba(253, 215, 159, 0.6);
  }

  .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    margin: 0em 1em;
  }
}

@media only screen and (max-width: 980px) {
  header {
    margin-bottom: 2em;
    padding: 2em;
    flex-direction: column;
    align-items: center;

    .loginSection {
      position: initial;
      margin: 0;
    }
  }
  // second section after hearder, my input

  .inputSection {
    display: flex;
    justify-content: center;
    .searchField {
      width: 25vw;
      margin: 1em 0;
      font-size: 0.5em;
      padding: 1% 0;
      margin-bottom: 5em;
    }
  }

  .addSection {
    padding: 0.5em;

    .buttonAdd {
      left: 60%;
      width: 20px;
      height: 20px;
      background-color: rgba(237, 59, 59, 0.9);
      border: none;
      border-radius: 50%;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;
    }
  }
  // third section, filter

  .filterSection {
    color: red;
  }

  // fourth section, cart

  .ShoppingCartSection {
    width: 35%;
    position: absolute;
    right: 0;
    z-index: 10;

    .DropDown {
      position: relative;
      height: 1em;
      width: 100%;
      background-color: rgb(179, 167, 167);
      border-radius: 15px;

      .DropDownContent {
        height: 1em;
      }
    }
  }
  // principal section article

  .containerArticle {
    margin: 0;
    margin-left: 1em;
    &::-webkit-scrollbar {
      width: 7px;
    }

    .cardGrid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 1em;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 371px) {
  header {
    font-size: 0.6em;
  }
}
