header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4em;
  background-color: rgb(253, 215, 159);
  margin-bottom: 2%;
  box-shadow: 0px 12px 14px -8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5% 5%;
  white-space: nowrap;

  h1 {
    color: rgb(148, 25, 33);
  }
  a{
    position: absolute;
    right: 1em;
    color: rgb(148, 25, 33);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;

  }
}

.inputSection{
  display: flex;
  justify-content: center;
  .searchField{
    width: 25vw;
    margin: 3em 0;
    font-size: 1.5em;
    padding:1% 0;
  }
}

.containerArticle {
  width: 60%; 
  height: 60vh;
  overflow-y: scroll;
  margin: 0 auto;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(253, 215, 159, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(148, 25, 33, 0.8);
    border-radius: 10px;
    border: 2px solid rgba(253, 215, 159, 0.6);
  }

  .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    margin: 0em 1em;
    
  }
}

@media only screen and (max-width: 980px) {
  header {
    margin-bottom: 2em;
    padding: 2em;
    flex-direction: column;
    align-items: center;

    a{
      position:initial;
      margin: 0;
    }
  }

  .inputSection{
    display: flex;
    justify-content: center;
    .searchField{
      width: 25vw;
      margin: 1em 0;
      font-size: 0.5em;
      padding:1% 0;
      margin-bottom:5em ;
    }
  }
  .containerArticle {
    &::-webkit-scrollbar {
      width: 7px;
    }

    .cardGrid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 1em;
      margin: 0;

      
    }
  }
}

@media only screen and (max-width: 371px) {
 
   
  header{
    font-size: 0.6em;
    
    
  }
        
      
    
  }
