.columnFilter {
  display: flex;
  flex-direction: column;

  gap: 2em;
  margin-bottom: 2em;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;

  h2 {
    font-weight: 600;
    color: #333;
    margin-bottom: 1em;
    font-size: 1em;
  }

  .categories-filter,
  .review-filter,
  .price-filter {
    width: 100%;
    max-width: 190px;
  }

  .categories-filter,
  .review-filter {
    select {
      width: 100%;
      padding: 0.3em 0.7em;
      font-size: 0.7rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #fff;
      color: #333;
      transition: all 0.3s ease;

      &:hover {
        border-color: #888;
      }

      &:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
      }
    }
  }

  .price-filter {
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.8em;
      margin-bottom: 0.5em;
    }

    input[type="range"] {
      width: 100%;
      margin-top: 0.5em;
    }
  }
}
