.cardArticle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  max-width: 330px;
  border-radius: 10%;
  box-shadow: 0px 17px 15px 0px rgba(0, 0, 0, 0.1);
  transition: scale 0.2s linear;

  &:hover {
    scale: 1.05;
  }

  .cardContent {
    overflow: hidden;
    border-radius: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    fa-star {
      font-size: 24px;
      color: red;
    }

    .deleteSection {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      width: 100%;
      height: 2vw;
      cursor: pointer;
    }

    .fa-trash {
      color: rgba(148, 25, 33, 0.8);
    }

    .deleteSection {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      width: 100%;
      height: 2vw;
      cursor: pointer;
    }

    .fa-trash {
      color: rgba(148, 25, 33, 0.8);
    }

    h2 {
      height: 3em;
      font-size: large;
      text-align: center;
      width: 100%;
      padding: 1em 1em;
    }

    img {
      height: 10em;
      object-fit: cover;
    }

    .rowPriceRate {
      display: flex;
      width: 100%;
      padding: 6% 0;

      justify-content: space-between;
      white-space: nowrap;

      p {
        margin: 0 4%;
      }

      .stars {
        margin: 0 4%;

        .fa-star {
          color: lightgray;
          transition: color 0.3s;
        }

        .filled {
          color: gold;
        }
      }
    }

    .fa-cart-shopping {
      width: 100%;
      padding: 1em 0;
      background-color: rgb(239, 243, 230);
      text-align: center;
      position: relative;
      z-index: 1;
      overflow: hidden;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        scale: 1.2;
        border-radius: 30%;
        background-color: green;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s cubic-bezier(0.92, 0.26, 0.83, 0.67);
        cursor: pointer;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .cardArticle {
    &:hover {
      scale: 1;
    }
    .cardContent {
      h2 {
        height: 25px;
        font-size: 0.6em;
        padding: 0.5em 0.5em;
      }
      img {
        max-height: 3.5em;
      }
      .rowPriceRate {
        padding-bottom: 6%;
        padding-top: 6%;

        p {
          font-size: 0.5em;
          margin: 0 5%;
        }

        .stars {
          font-size: 0.5em;
        }
      }
    }
    .fa-cart-shopping {
      height: 25px;
      font-size: 0.5em;
    }
  }
}

@media only screen and (max-width: 371px) {
  .cardArticle {
    .cardContent {
      .rowPriceRate {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
