<div class="cardArticle" (click)="redirectToPageArticle()">
  <div class="cardContent">
    <div
      *ngIf="isAdmin()"
      class="deleteSection"
      (click)="deleteArticle($event)"
    >
      <i class="fa-solid fa-trash"></i>
    </div>
    <h2>{{ name }}</h2>
    <img [src]="src" alt="{{ name }}" height="10em" />
    <div class="rowPriceRate">
      <p>Prix : {{ price }} €</p>
      <div class="stars">
        <i
          *ngFor="let star of [0, 1, 2, 3, 4]; let i = index"
          class="fa fa-star"
          [ngClass]="{ filled: i < rating }"
        ></i>
      </div>
    </div>
    <i class="fa-solid fa-cart-shopping" (click)="addToCart($event)"></i>
  </div>
</div>
